* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.active {
    display: block;
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
